@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
}

.phrases {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}
.small-text {
  opacity: 0;
}

.title {
  opacity: 0;
}

.big-footer-text {
  font-size: clamp(4rem, 15vw, 16rem);
}

#services .active {
  background-image: linear-gradient(45deg, #ec4899, #3b82f6);
  color: white;
}
