@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
}

#phrases p {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
